/* Importando a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset Básico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Declarando variaveis */
:root{
    --background-color:rgb(33, 33, 105);
    --shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
    --valid: #22c55e;
    --invalid:#dc2626;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* faz o body centralizar verticalmente */
    background-color: var(--background-color);
}


/* formatando os botões */
.btn-default{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
    box-shadow: var(--shadow);
    gap: 8px;
    height: fit-content;
    transition: background-color 0,3s ease;
}

.btn-default:hover{
    background-color: rgb(26, 26, 83);
}
/* **************************** */

/* formatando o form */
#form-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(118, 118, 165);
    box-shadow: var(--shadow);
}

#form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-title{
    font-weight: 500;
    color: black;
    position: relative;
}

/* linha abaixo do titulo */
#form-title::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 30px;
    background-color: var(--background-color);
    left: 0;
    bottom: 0;
}

#form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

.form-label{
    font-size: 12px;
    color:rgb(39, 39, 39);
    font-weight: 500;
}

.form-control{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
}
/* *********************** */

/* formatando inputs */
#input-container{
    display: grid;
    gap: 24px;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.input-field i{
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: #404044;
}

.input-field .password-icon:hover{
    cursor: pointer;
    color: #677670;
}
/* *************************** */

/* estilizando foco em um input */
.form-control:focus{
    outline: none;
}

.input-box .input-field:focus-within{
    outline: 2px solid var(--background-color);
}

input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 1000px white inset !important;
    color: #000;
}
/* ********************************* */

/* formatando input de genero */
.radio-container{
    grid-column: span 2;
}

#gender-inputs{
    display: flex;
    gap: 20px;
}

.radio-box{
    display: flex;
    gap: 4px;
    align-items: center;
}
/* ********************** */

.form-control[type="radio"]{
    accent-color: var(--background-color);
}

.error{
    color: var(--invalid);
    font-size: 12px;
    margin-top: 4px;
    max-width: 200px;
}


/* inputs */
.input-box.invalid .form-label{
    color: var(--invalid);
}

.input-box.invalid .input-field{
    border: 1px solid  var(--invalid);
}

.input-box.valid .form-label{
    color: var(--valid);
}

.input-box.valid .input-field{
    border: 1px solid var(--valid);
}
/* ************************ */


/* seleção de genêros */
.radio-container.invalid .form-label:first-child{
    color: var(--invalid);
}

.radio-container.valid .form-label:first-child{
    color: var(--valid);
}
/* *********************** */


/* Mobile */
@media screen and (max-width: 500px) {
    #form-container{
        width: 100%;
        min-height: 100vh;
        padding: 32px;
    }

    #input-container{
        display: flex;
        flex-direction: column;
        gap: 38px;
    }
}